---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Hero from "../../components/Hero.astro";
import Stats from "../../components/Stats.astro";
import Features from "../../components/Features.astro";
import Workflow from "../../components/Workflow.astro";
import Testimonials from "../../components/Testimonials.astro";
import Calendar from "../../components/Calendar.astro";
import CTA from "../../components/CTA.astro";
import Footer from "../../components/Footer.astro";
import type { LangKey } from "../../i18n/ui";

export function getStaticPaths() {
    return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params as { lang: LangKey };
---

<Layout lang={lang}>
    <Navbar lang={lang} />
    <main>
        <Hero lang={lang} />
        <!-- <Stats lang={lang} /> -->
        <Features lang={lang} />
        <Workflow lang={lang} />
        <Testimonials lang={lang} />
        <Calendar lang={lang} />
        <CTA lang={lang} />
    </main>
    <Footer lang={lang} />
</Layout>
